body{
  background-color: #cefdf9;
  background: linesr-gradient();
}

  p {
  text-align: center;
  font-family: 'Baloo Tamma', cursive;
  font-weight: bold;
  font-size: 2.5em;
  margin-top: 150px;
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}